@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GenerateResponce

<div class="page-header">
    <h1 class="page-title">Generate temporary Password</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Home"><i class="fa fa-tachometer f-16" aria-hidden="true"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Home"><i class="fa fa-user f-16"></i> My Accounts</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-key f-16"></i> Generate Password</li>
        </ol>
    </div>
</div>

<div class="container bg-r">

    <div>

        <div class="row" style="justify-content:center;">
            <div class="col-md-12">
                <div class="form-group form-group-default">
                    <p class="ptext">
                        Please copy the temporary password,System wil enforce the change Password at re-login into the Portal.<br />

                    </p>
                    @*<input type="hidden" asp-for="@Model.TempPassword" class="copyTemp" />*@
                   @* <label id="temp" class="lab">@Model.TempPassword</label>*@
                   <center>
                        <input asp-for="TempPassword" type="text" class="form-control col-md-3 copyTemp" style="width:90%;" readonly />
                    </center>
                    
                </div>

            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12" style="border: none;justify-content:center;display:flex;">
                <button type="button" id="copytextnew" class="btn btn-blue copyval" style="margin-right: 8px;">Copy</button>
                <a type="button" class="btn btn-danger" asp-action="Index" asp-controller="Home"><i class="fa fa-times" aria-hidden="true" style="font-size: 15px;"></i> Back</a>
            </div>
        </div>
    </div>
    
</div>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
       // $(document).on('click', '.copyval', function () {
        $('#copytextnewxxxxxx').click(function () {
            // Get the text field
            var copyText = $(".copyTemp").val();
            // Select the text field
            var $temp = $("< input >");
              $("body").append($temp);
            $temp.val($("#TempPassword").val()).select();
            document.execCommand("copy");
            $temp.remove();

        });
        

function copyToClipboard(text) {

   var textArea = document.createElement( "textarea" );
   textArea.value = text;
   document.body.appendChild( textArea );       
   textArea.select();

   try {
      var successful = document.execCommand( 'copy' );
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Copying text command was ' + msg);
   } catch (err) {
      console.log('Oops, unable to copy',err);
   }    
   document.body.removeChild( textArea );
}
$( '#copytextnew' ).click( function()
 {
     var clipboardText = "";
            clipboardText = $('.copyTemp').val();
            copyToClipboard( clipboardText );
     //alert( "Copied to Clipboard" );
 });

    </script>
}